

body {
  /* background-image: url("./wood_bg.jpg"); */
  background-image: linear-gradient(to bottom, white, #a8a8a8);
  background-repeat: no-repeat;
  background-size: cover;
}


.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border: 5px solid;
  /* border-image-slice: 1; */
  border-width: 0px 0px 5px 0px;
  /* border-image-source: linear-gradient(to right, #fa9600, #ff0800); */
  border-color: rgb(255, 94, 0);
}

.navbar-brand {
font-family: 'Alfa Slab One', cursive;
/* font-family: 'Comfortaa', cursive; */
font-size: 38px;
}

h3, h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  /* text-shadow: 2px 2px 5px white; */
}

.mainBody{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px 50px 20px;
  width: 75%;
 
}

.contactBody {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px;
  width: 75%;
  color: white;

}

.mainContainer {
  padding-bottom:500px;
}

.header, .icon {
color: rgb(90, 90, 90)
}

.project {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 25px;
  padding-bottom: 50px;
  width: 75%;
}

p {
color: white;
font-size: 18px;
/* font-family: 'Raleway', sans-serif; */
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
}


